form {
    margin-bottom: 20px;
  }
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

      /* Estilos para el encabezado */
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
      
      /* Estilos para el pie de página */
      footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      
      /* Estilos para el contenido principal */
      main {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      
      /* Estilos para el formulario */
      form {
        display: flex;
        margin-bottom: 20px;
      }
      
      input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
      }
      
      button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      /* Estilos para la lista de tareas */
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

    /* Estilos para el botón de borrar lista */
#clear-list {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  